  html, body {
    width: 100%;
    height:100%;
  }
  
  /* Gradient Background */

  body {
      background: linear-gradient(-45deg, #ebbcfd, #b768d7, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

/* Dropdown Navbar */

nav{
  float: right;
  position: sticky;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 100%;
  top: 0px;
  padding: 15px;

}

ul,li{
  margin: 0;
  padding: 0;
}
.main{
  position:absolute;
  z-index:1;
  
}
.main li{
  list-style:none;
  background: #23d5ab;
  color: white;
  width:100px;
  padding: 0 5px;
  border: 2px solid black;
  height: 30px;
  line-height: 30px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  
}
.main li:nth-child(odd){
    transform-origin: top;
    -webkit-transform-origin: top;
    transform: perspective(350px) rotateX(-90deg);
    -webkit-transform: perspective(350px) rotateX(-90deg);
  }
  
  .main li:nth-child(even){
     margin-top:-65px;
     transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform: perspective(350px) rotateX(90deg);
    -webkit-transform: perspective(350px) rotateX(90deg);
  }
  
  .hov:hover li:nth-child(odd){
    transform-origin: top;
    -webkit-transform-origin: top;
    transform: perspective(350px) rotateX(0deg);
    -webkit-transform: perspective(350px) rotateX(0deg);
    margin-top:0;
  }
  
  .hov:hover li:nth-child(even){
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform:perspective(350px) rotateX(0deg);
    -webkit-transform: perspective(350px) rotateX(0deg);
     margin-top:0;
  }
  
  .main li:first-child{
    margin-top:0;
  }
  
  .hov{
    position:relative;
    height: 40px;
    width:112px;
    background: black;
    color: white;
    font-size: 13px;
    font-family: Helvetica;
    font-weight:bold;
    text-align: center;
    line-height: 40px;
    list-style:none;
    z-index:2;
  }

  li a:hover{
    background-color: #b768d7;
  }

/* Main Body */

h1, p{
  text-align: center;
  float: center;
  color:rgb(30, 40, 40);
  font-weight: bold;
}

section {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color:rgb(30, 40, 40);
  }

  aside {
    text-align: center;
    width: 100%;
    float: center;
    border: 3px solid black;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    padding: 10px;  
    background-color:rgba(35,166,213, 0.3);
    
    }
