html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #f9bcfd, #d056e0, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #d0f3ff;
    opacity: 50%;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
    opacity: 100%;
}

nav a:hover {
  background-color: #71ffcb;
  border: 2px solid white;
} 