body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position:absolute;
}

#text1 {
    position: relative;
    top: 100px;
    left: 100%;
}

#box2{
    width: 73vw;
    height: 33vh;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    background-color: mediumvioletred;
}

#text2 {
    position: fixed;
    bottom: 0px;
    left:0px;
}

#box3{
    position: sticky center;
    margin: auto;
    top: 0px;
    text-align: center;
    width: 73vw;
    height: 175vh;
    border-radius: 10px;
    background-color: orangered;
}

#text3 {
    position: sticky;
    top: 0px;
    font-size: 50px;
}

